.button {
    width: 80px;
    background: var(--blue1);
    color: var(--white1);
    text-align: center;
    font-size: var(--font-18);
    font-weight: var(--font-semibold);
    padding: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}